<footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted">
            <p class="item">Ti Koze.IO &copy; 2019</p>
            <div class="right menu">
                <a class="item" href="/archive.html">
                    Denye piblikasyon yo
                </a>
                <a class="item" href="https://twitter.com/dolbyto">
                    Twitter
                </a>
                <a class="item" href="https://github.com/dolbyjoab">
                    Github
                </a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>